# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/

# Foundry / Ethereum
out/
cache/
broadcast/
dist/

# EZKL Artifacts
*.ezkl
*.key
*.srs
*.pf
*.proof
witness.json
settings.json
pk.key
vk.key

# data files
model/data/

# Editors
.vscode/
.idea/
.DS_Store
