[profile.default]
src = 'src'
out = 'out'
libs = ['lib']
optimizer = true
optimizer_runs = 200
via_ir = false
solc = '0.8.24'
evm_version = 'cancun'
fs_permissions = [{ access = "read", path = "./ezkl/build/" }]
